<div class="author">
    <h1 class="author_heading"> Hi, am Guled </h1>
    <p class="author_pargraf"> Backend web developer </p>
</div>
<img src="/img/guled.png" alt="Guled sawirkiisa" class="author_image" width="981" height="521" />

<section class="articales">

    <h2 class="aricle_heading"> latest Posts</h2>
    <ul class="article_Ul">
        <li>
            <a href="#">
                <span>Post title</span>
                <span class="aricle_list_Date"> Date </span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination"> &LT; view older posts </a>

</section>